.HomepageContent .about-text {
  margin-top: 50px;
  font-size: 28px;
  height: 1.5;
  text-align: left;
}
.HomepageContent img {
  width: 400px;
  margin-top: 50px;
}
.HomepageContent .btn-costum {
  color: aliceblue;
  background-color: blueviolet;
  border: none;
  transition: all 150ms ease-in-out;
}

.HomepageContent .btn-costum:hover {
  color: blueviolet;
  background-color: aliceblue;
  text-decoration: underline;
}

.HomepageContent .container {
  background-color: rgb(235, 218, 228);
  color: black;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
