.custom-btn {
  color: #261424;
  border-color: #261424;
  margin-right: 36px;
}

.custom-btn:hover {
  background: #934d8b;
}
.custom-navbar {
  background-color: rgb(235, 218, 228);
  padding-left: 38px;
}
